<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>
<style type="text/css">
    body { color :blue ; align-items: center;  display:column ; justify-content: center; align-content: center; justify-items: center;}
    
</style>
<body>
   <H1>clinica da yasmim</H1>
   <p> <a href="{%url 'criar_consultas' %}">Agende uma nova consulta</a></p>

    <p><a href="{%url 'listar_medicos' %}">Veja os medicos e suas especialidades</a></p>

</body>
</html>